# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

# DOCKER VARIABLES FOR AUTOMATION
SUDO=sudo                                               # <- how local user executes system commands - leave it empty if not necessary ----------------------> #
DOCKER=sudo docker                                      # <- how local user executes Docker commands --------------------------------------------------------> #
DOCKER_COMPOSE=sudo docker compose                      # <- how local user executes "docker compose" or docker-compose command -----------------------------> #

# CONTAINERS BASE INFORMATION FOR BUILDING WITH docker-compose.yml
PROJECT_NAME="PLATFORMS DOCKER"                         # <- project name will be used for automation outputs -----------------------------------------------> #
PROJECT_LEAD=abbr                                       # <- lead abbreviation or acronym as part of related containers naming rule -------------------------> #
PROJECT_HOST="127.0.0.1"                                # <- machine hostname referrer - not necessary for this project -------------------------------------> #
PROJECT_CNET=mp-dev                                     # <- useful when a network is required for container connections between each other -----------------> #

# API - LOCAL
APIREST_PLTF=httpd-php-8.5                              # <- platform assets directory's name ---------------------------------------------------------------> #
APIREST_IMGK=alpine-3.24-httpd2.4-php8.5                # <- real main image keys to manage automations for sharing resources -------------------------------> #
APIREST_PORT=7710                                       # <- local machine port opened for container service ------------------------------------------------> #
APIREST_BIND="../../../api-rest"                        # <- path where application is binded from container to local ---------------------------------------> #
APIREST_CAAS=mp-apirest-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
APIREST_CAAS_USER=osuser                                # <- container's project directory user -------------------------------------------------------------> #
APIREST_CAAS_GROUP=osgroup                              # <- container's project directory group ------------------------------------------------------------> #
APIREST_CAAS_CPUS=2.00                                  # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
APIREST_CAAS_MEM=128M                                   # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
APIREST_CAAS_SWAP=256M                                  # <- container's RAM swap space in storage executed by automation command ---------------------------> #

# DATABASE - LOCAL
DATABASE_PLTF=pgsql-18                                  # <- platform assets directory's name ---------------------------------------------------------------> #
DATABASE_IMGK=alpine-3.24-pgsql-18                      # <- real main image keys to manage automations for sharing resources -------------------------------> #
DATABASE_PORT=7711                                      # <- local machine port opened for container service ------------------------------------------------> #
DATABASE_CAAS=mp-pgsql-dev                              # <- container name to build the service - it is important to set the environment in this variable --> #
DATABASE_CAAS_CPUS=2.00                                 # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
DATABASE_CAAS_MEM=128M                                  # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
DATABASE_CAAS_SWAP=256M                                 # <- container's RAM swap space in storage executed by automation command ---------------------------> #
DATABASE_ROOT="root-strong-password"                    # <- database root password -------------------------------------------------------------------------> #
DATABASE_NAME=dev_local                                 # <- database name ----------------------------------------------------------------------------------> #
DATABASE_USER=dev_user                                  # <- database user ----------------------------------------------------------------------------------> #
DATABASE_PASS="dev_password"                            # <- database password ------------------------------------------------------------------------------> #
DATABASE_PATH="../../resources/databases/"              # <- sql file's directory ---------------------------------------------------------------------------> #
DATABASE_INIT=pgsql-init.sql                            # <- init sql file ----------------------------------------------------------------------------------> #
DATABASE_BACK=pgsql-backup.sql                          # <- backup sql file --------------------------------------------------------------------------------> #

# MAILER - LOCAL
MAILER_PLTF=mailhog-1                                   # <- platform assets directory's name ---------------------------------------------------------------> #
MAILER_IMGK=alpine-3.12-mailhog-1.0                     # <- real main image keys to manage automations for sharing resources -------------------------------> #
MAILER_PORT=7712                                        # <- local machine port opened for container service ------------------------------------------------> #
MAILER_DATA="./data"                                    # <- platform data storage in local -----------------------------------------------------------------> #
MAILER_LOGS="./logs"                                    # <- platform logs storage in local -----------------------------------------------------------------> #
MAILER_CAAS=mp-mailhog-dev                              # <- container name to build the service - it is important to set the environment in this variable --> #
MAILER_CPUS=2.00                                        # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
MAILER_MEMO=128M                                        # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MAILER_SWAP=256M                                        # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MAILER_APP_PORT=7713                                    # <- application ui management port -----------------------------------------------------------------> #

# BROKER - LOCAL
BROKER_PLTF=rabbitmq-4                                  # <- platform assets directory's name ---------------------------------------------------------------> #
BROKER_IMGK=rabbitmq:4-management-alpine                # <- real main image keys to manage automations for sharing resources -------------------------------> #
BROKER_PORT=7714                                        # <- local machine port opened for container service ------------------------------------------------> #
BROKER_DATA="./data"                                    # <- platform data storage in local -----------------------------------------------------------------> #
BROKER_LOGS="./logs"                                    # <- platform logs storage in local -----------------------------------------------------------------> #
BROKER_CAAS=mp-rabbitmq-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
BROKER_CPUS=2.00                                        # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
BROKER_MEMO=128M                                        # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
BROKER_SWAP=256M                                        # <- container's RAM swap space in storage executed by automation command ---------------------------> #
BROKER_APP_PORT=7715                                    # <- application ui management port -----------------------------------------------------------------> #
BROKER_APP_USER=guest                                   # <- application ui management user -----------------------------------------------------------------> #
BROKER_APP_PASS="guest"                                 # <- application ui management password -------------------------------------------------------------> #
BROKER_APP_COOKIE="guest-password"                      # <- application security ---------------------------------------------------------------------------> #
BROKER_APP_NODENAME="rabbit@rabbitmq"                   # <- application configuration ----------------------------------------------------------------------> #
